*.[oa]
*.prof
*~
*.dat
*.dat.*
*.Po
.deps
.dirstamp
Makefile
Makefile.in
config.h
config.h.in
html
stamp-*
*.test
deft
polyhedra-talk
foobar
install-sh
depcomp
missing
INSTALL
README
configure
*.cache
*.log
*.failed
aclocal.m4
config.*
*.eps
.nfs*
.\#*
\#*\#
/.ikiwiki
/recentchanges
tests/generated/*.h
tests/generated-haskell/*.h
*-t
optimize-functionals
src/*Fast.cpp
src/HardSpheresNoTensor.cpp
cited-papers
*.err
*.out
cleanups.txt
.DS_Store
.metadata
*.trs
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Testing
cmake_install.cmake
build
.scons*
*.fls
*.pyc
*.html
*.vdx
*.tbx
*.fgx
generate_*.hs
*monte-carlo
.fac
.*.fac
*.tum
movie.svg
free-energy-monte-carlo-infinite-case
version-identifier.h
*.synctex.gz
