*.[oa]
*~
*.Po
.deps
.dirstamp
Makefile
Makefile.in
config.h
config.h.in
stamp-*
*.test
deft
install-sh
depcomp
missing
INSTALL
README
configure
*.cache
*.log
aclocal.m4
config.*
*.eps
.nfs*
.\#*
\#*\#
