*.[oa]
*.prof
*~
*.dat
*.Po
.deps
.dirstamp
Makefile
Makefile.in
config.h
config.h.in
html
stamp-*
*.test
deft
monte-carlo
analyze-monte-carlo
install-sh
depcomp
missing
INSTALL
README
configure
*.cache
*.log
aclocal.m4
config.*
*.eps
.nfs*
.\#*
\#*\#
/.ikiwiki
/recentchanges
tests/generated/*.h
tests/generated-haskell/*.h
*-t
optimize-functionals
src/*Fast.cpp
src/HardSpheresNoTensor.cpp
cited-papers
*.err
*.out
