<!DOCTYPE html>
<html>
<head>
<title>CSS Portal - Layout</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="css/site.css" />
</head>
<body>
  <div id="wrapper">
    <div id="headerwrap">
      <div id="header">
        <p><h1>Deft:  Classical Density Functional Theory</h1></p>
      </div>
    </div>
    <div id="navigationwrap">
      <div id="navigation">
        <p>This is the Menu</p>
      </div>
    </div>
    <div id="contentliquid">
      <div id="contentwrap">
        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>
    <div id="leftcolumnwrap">
      <div id="leftcolumn">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Integer nec odio. Praesent libero. Sed cursus ante
        dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
        imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
        tellus sed augue semper porta. Mauris massa. Vestibulum
        lacinia arcu eget nulla.</p>
      </div>
    </div>
  </div>
</body>
</html>
